nav{
  margin: 0;
}


.titulo{
  display: flex;
  flex-direction:row-reverse;
  color: aqua;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carro{
  color: aliceblue;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.home{
color:beige;
font-family:'Times New Roman', Times, serif;
font-size: 20PX;
}

.product{
color:beige;
font-family:'Times New Roman', Times, serif;
font-size: 20PX;
}

.ubi-env{
color:beige;
font-family:'Times New Roman', Times, serif;
font-size: 20PX;
}

.point{
  color: white;

}

